.buton {
  background: rgb(73, 222, 88);
}
.flash.success {
  background: rgb(73, 222, 88);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.text:active,
a.text:hover,
a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.6;
  color: rgba(8, 31, 50, 0.6);
  height: 100%;
  width: 100%;
}

input {
  outline: none;
  border: 0;
}

/*-------------------header---------------------*/

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 20;
  background-color: white;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header__logo {
  margin: 0 20px 0 0;
}

.logo-image {
  width: 50px;
  height: 50px;
}

.header__menu {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  padding: 5px 0;
}

.menu__item:not(:last-child) {
  margin: 0 40px 0 0;
}

.menu__link {
  font-family: Gelasio;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(8, 31, 50, 0.7);
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.menu__link:hover {
  color: #2caf40;
}

.bag-image {
  width: 30px;
  height: 30px;
}

.header__bag {
  display: flex;
  align-content: center;
}

/*992px - 1169.75*/

/*768px - 991.75*/
@media (max-width: 991.75px) {
  .header__menu {
    margin: 0 20px 0 50px;
  }

  .menu__list {
    justify-content: center;
  }
}

/*320px - 767.75px*/
@media (max-width: 767.75px) {
  .header__menu {
    margin: 0 20px 0 50px;
    width: 100%;
  }

  .menu__list {
    justify-content: space-around;
  }

  .menu__link {
    font-size: 16px;
  }
}

/*-------------------main-block----------------------*/
.main-page {
  padding: 90px 0 0 0;
  background-color: rgba(249, 249, 249, 0.926);
  height: 100%;
}

.main-page__container {
  display: flex;
  flex-direction: column;
}

.container {
}

.main-page__content {
  display: flex;
  justify-content: space-between;
}

.main-page__logo {
  display: flex;
  align-items: center;
}

.main-page__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-page__company {
  font-size: 32px;
  color: black;
}

.main-page__description {
}

.main-page__form {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 45px 0;
}

.form__search {
  display: flex;
}

.search-input {
  border: 0;
}

.form__button {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
}

.button {
}

.main-page__call {
  display: flex;
  align-items: center;
}

.call__icon {
  margin: 0 25px 0 0;
}

.phone-image {
  width: 20px;
  height: 20px;
}

.call_content {
}

.call__free-call {
}

.call_number {
  color: black;
  font-weight: 600;
}

.call__callback {
}

.main-page__news {
}

.news__background {
  background: no-repeat
    url(https://okzelen.com.ua/wp-content/uploads/2021/02/microgreen-pea-sprouts-isolate-white-background-845x500.jpg);
  background-size: cover;
  height: 450px;
}

.news__block {
}

.news__title {
}

.news__content {
}

.news__button {
}

.form__button {
  background: url(../img/main-page/search-button.png);
  background-size: cover;
  background-position: center;
  border: 0;
}

.button {
}

/*-------------------auth---------------------*/
.authorization {
  max-width: 400px;
  margin: 0 auto;
}
.authorization__title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.authorization__form {
  margin: 0 auto;
  padding: 5px;
}
.authorization__email {
  width: 360px;
  height: 30px;
  margin: 0 0 15px 0;
  border-bottom: 1px solid gray;
}
.authorization__password {
  width: 360px;
  height: 30px;
  margin: 0 0 30px 0;
  border-bottom: 1px solid gray;
}
.authorization__button {
  padding: 10px 40px;
  background-color: rgba(72, 114, 252, 0.967);
  border-radius: 20px;
}
.button {
  border: 0;
  color: white;
}

/*-------------------reg---------------------*/
.registration {
  max-width: 400px;
  margin: 0 auto;
}
.registration__title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.registration__form {
  margin: 0 auto;
  padding: 5px;
}
.registration__email {
  width: 360px;
  height: 30px;
  margin: 0 0 15px 0;
  border-radius: 5px;
  border: 1px solid gray;
}
.registration__password {
  width: 360px;
  height: 30px;
  margin: 0 0 30px 0;
  border-radius: 5px;
  border: 1px solid gray;
}
.registration__button {
  width: 360px;
  padding: 8px;
  background-color: rgb(73, 191, 255);
  border-radius: 5px;
}

.registration__entrance {
}

.registration__text {
  font-size: 16px;
  color: rgb(73, 191, 255);
  border-bottom: 1px solid rgb(73, 191, 255);
}

/*-------------------shop----------------------*/

.shop__container {
  padding: 90px 0 0 0;
}

.shop__title {
  width: 40px;
  margin: 0 auto 20px;
  color: #081f32;
  font-size: 18px;
  font-weight: 500;
}

.shop__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row__item {
  flex: 0 1 calc((100% - 90px) / 4);
  width: calc((100% - 90px) / 4);
  padding: 17px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.row__image {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  flex: 1 1 auto;
}

.row__title {
  font-family: Gelasio;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #081f32;
  margin: 40px 0 15px 0;
}

.row__text {
  text-align: center;
}

/*-------------------shop----------------------*/

.product__item {
}
.product__image {
  margin: 0 0 20px 0;
}
.product__title {
  margin: 0 0 20px 0;
}
.product__text {
  margin: 0 0 20px 0;
}

.product__button {
  padding: 10px;
  background-color: rgba(76, 242, 96, 0.788);
  border-radius: 20px;
}
