<!DOCTYPE html>
<html>
  <head>
    <link
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
    <title>Microgreens</title>
  </head>
  <body>
    <header class="header">
      <div class="header__container container">
        <a href="/" class="header__logo"
          ><img
            class="logo-image"
            src=".//static/img/main-page/logo.png"
            alt="Логотип"
        /></a>
        <nav class="header__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="/shop" class="menu__link">Магазин</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Доставка</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Оплата</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Акции</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Инструкция</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Отзывы</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Контакты</a>
            </li>
          </ul>
        </nav>
        <a href="#" class="header__bag"
          ><img
            class="bag-image"
            src=".//static/img/header/bag.png"
            alt="Логотип"
        /></a>
      </div>
    </header>
    <div class="product__container container">
      <div class="product__item">
        <img
          src=".//static/img/shop/lucerna.png"
          alt="Зелень"
          class="product__image"
        />
        <p class="product__title">110 руб.</p>
        <p class="product__text">Люцерна</p>
        <form action="/basket" method="post" class="product__form">
            <div>
                <input
                type="submit"
                value="Добавить в корзину"
                class="product__button button"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
