<!DOCTYPE html>
<html>
  <head>
    <link
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
    <title>Microgreens</title>
  </head>
  <body>
    <div class="registration container">
      <div class="registration__title">Регистрация</div>
      <form action="/auth" method="post" class="registration__form">
        <div>
          <input
            type="text"
            value=""
            name="username"
            class="registration__email"
            placeholder="Эл. почта"
          />
        </div>
        <div>
          <input
            type="password"
            value=""
            name="pwd"
            class="registration__password"
            placeholder="Пароль"
          />
        </div>
        <div>
          <input
            type="submit"
            value="Регистрация"
            class="registration__button button"
          />
        </div>
      </form>
      <div class="registration__entrance">
        <a href="/auth" class="registration__text">Войдите</a>
      </div>
    </div>
  </body>
</html>
