<!DOCTYPE html>
<html>
  <head>
    <link
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />
    <title>Microgreens</title>
  </head>
  <body>
    <div class="shop__row row">
      <div class="row__item">
        <img src="" alt="Зелень" class="row__image" />
        <p class="row__title">110</p>
        <p class="row__text">Люцерна</p>
      </div>
      <div class="row__item">
        <img src="" alt="Зелень" class="row__image" />
        <p class="row__title">250</p>
        <p class="row__text">Кольраби</p>
      </div>
      <div class="row__item">
        <img src="" alt="Зелень" class="row__image" />
        <p class="row__title">237</p>
        <p class="row__text">Капуста</p>
      </div>
      <div class="row__item">
        <img src="" alt="Зелень" class="row__image" />
        <p class="row__title">190</p>
        <p class="row__text">Горчица</p>
      </div>
    </div>
  </body>
</html>
